.first-site {
  background: #ffb8ca;
}

.logo {
  width: 199px;
  height: 50px;
  top: 37px;
  left: 46px;
  margin-top: 37px;
  margin-left: 46px;
}

.navbar {
  display: flex;
  margin-right: 384px;
  width: 541px;
  height: 21px;
  top: 50px;
  left: 355px;
  text-decoration: none;
  list-style-type: none;
  font-family: DM Sans;
  justify-content: space-evenly;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
}
.home a {
  color: #d41443;
}

.home a:hover {
  text-decoration: none;
  color: #d41443;
}
div button {
  width: 159px;
  height: 44px;
  top: 38px;
  left: 1006px;
  border-radius: 22px 22px 22px 22px;
  border: 2px solid #d41443;
  color: #d41443;
  background-color: #ffffff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: right;
}
