:root {
  box-sizing: border-box;
  color: white;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
}
#header {
  background: black;
  padding: 5px;
  font-family: "Cookie";
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 1px 7px 15px -1px rgb(0, 0, 0);
  -moz-box-shadow: 1px 7px 15px -1px rgb(0, 0, 0);
  box-shadow: 1px 7px 15px -1px rgb(0, 0, 0);
}
#logo img {
  margin: 20px;
  width: 60px;
}

.menu {
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu ul li {
  display: inline-block;
  padding-right: 20px;
}

.menu ul li a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #ffd77f;
}
.contact-info {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.slider-box {
  height: 200px;
  background-color: black;
  display: flex;
}
.slider-half-item {
  width: 50%;
  height: 100%;
  font-family: cursive, geneva;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-half-item .button {
  text-transform: uppercase;
  padding: 8px;
  text-decoration: none;
  margin: 2px;
  font-size: 1rem;
}
.button-section {
  margin-top: 20px;
}

.order-button {
  color: #7fd7ff;
  border: 2px solid #7fd7ff;
}

.book-button {
  color: #ffd77f;
  border: 2px solid #ffd77f;
  background-color: #936c02;
}
.order-button,
.book-button:hover {
  background-color: #333;
}
.pizza-img {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
  background-size: cover;
  background-position: center center;
}
.advantages-box {
  margin-top: 10px;
  background-color: transparent;
  justify-content: space-between;
  gap: 10px;
  display: flex;
}
.advantages-box div {
  flex: 1 0 30%;
}
.column-advantage {
  position: relative;
  height: 160px;
  border: 5px solid black;
  background-position: center center;
  background-size: cover;
}
.best-ingredients {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
}
.original-recipe {
  background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
}
.fast-delivery {
  background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");
}
.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
}
.kitchen-menu {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin-top: 15px;
  gap: 20px;
}
.menu-one-forth {
  flex-basis: 25%;
  text-align: center;
  font-size: 0.9rem;
}
.menu-one-forth img {
  width: 100%;
}
.page-footer {
  width: 100%;
  background-color: black;
  font-family: cookie;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
